<!-- 
 .d888                  888                    
d88P"                   888                    
888                     888                    
888888 .d88b.   .d88b.  888888 .d88b.  888d888 
888   d88""88b d88""88b 888   d8P  Y8b 888P"   
888   888  888 888  888 888   88888888 888     
888   Y88..88P Y88..88P Y88b. Y8b.     888     
888    "Y88P"   "Y88P"   "Y888 "Y8888  888
 -->
 <footer>
  <div class="card-group">
    <div class="card">
      <div class="card-block">
        <h6 class="card-title">Parte 1</h6>

      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h6 class="card-title">Parte 2</h6>

      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h6 class="card-title">Parte 3</h6>

      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h6 class="card-title">Parte 4</h6>

      </div>
    </div>
  </div>
  <div class="card py-1" style="background-color: rgba(0,0,0,0.1);">
    <div class="card-block py-1">
      <p class="card-text text-center text-muted copyright">Copyright © 2017 - You ctrl+c we sue you to death.</p>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
crossorigin="anonymous"></script>