<!--                       
                           888
                           888
                           888
88888b.   8888b.  888  888 88888b.   8888b.  888d888
888 "88b     "88b 888  888 888 "88b     "88b 888P"
888  888 .d888888 Y88  88P 888  888 .d888888 888
888  888 888  888  Y8bd8P  888 d88P 888  888 888
888  888 "Y888888   Y88P   88888P"  "Y888888 888
 -->
<nav class="navbar navbar-light navbar-toggleable-md px-0 pt-3 pb-0">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="mt-4 navbar-toggler navbar-toggler-right"
        data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" href="/blog/">
                <img src="/blog/img/Nhoque da Fortuna-02.png" class="float-left" style="width: 300px; height: auto"> 
            </a>
    
        <div class="collapse navbar-collapse pt-4" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Link</a>
            </li>
            </ul>
            <div class="row">
            <div class="col">
                <div class="input-group">
                <input class="form-control" placeholder="" type="text">
                <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">
                        <i aria-hidden="true" class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            </div>
        </div>
        </nav>
        <hr>