{{ define "main" }}
<!-- Page Header -->
<header class="masthead" style="background: url('/blog/img/fundoazul1.jpeg');">
<!-- fundoazul1.jpeg -->
  <!-- linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Nhoque da Fortuna</h1>
            <span class="subheading">Fique por dentro das últimas tendências do mundo food!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

            {{ $a1 := where .Site.Pages "Section" "post" }}
            {{ $a2 := where .Site.Pages "Kind" "page" }}
            {{ $a3 := $a1 | intersect $a2 }}
            {{ range $a3 }}

            
        <div class="post-preview">
          <a href="{{.Permalink}}">
            <h2 class="post-title">
                    {{.Title}}
            </h2>
            <h3 class="post-subtitle">
                    {{ .Params.excerpt }}
            </h3>
          </a>
          <p class="post-meta">Publicado em {{ .Date.Format "January 2, 2006" }}</p>
        </div>
        <hr>
        {{ end }}
        
      </div>
    </div>
  </div>

  <hr>
  {{ end }}
