{{ define "main" }}
 
 <!-- Page Header -->
 <header class="masthead" style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('{{ .Params.featured_image }}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
                <h1>{{ .Title }}</h1>
            <span class="subheading">{{ .Params.excerpt }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
            {{ .Content }}
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form name="sentMessage" id="contactForm" validate action="https://nhoque.glitch.me/form" method="post" enctype="application/x-www-form-urlencoded">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Nome</label>
              <input type="text" class="form-control" placeholder="Nome" id="nome" name="nome" required data-validation-required-message="Por favor digite seu nome.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Sobrenome</label>
                  <input type="text" class="form-control" placeholder="Sobrenome" id="sobrenome" name="sobrenome" required data-validation-required-message="Por favor digite seu sobrenome.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Endereço de Email</label>
              <input type="email" class="form-control" placeholder="Endereço de Email" id="email" name="email" required data-validation-required-message="Por favor digite seu endereço de email.">
              <p class="help-block text-danger"></p>
            </div>
          </div>          
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-secondary" id="sendMessageButton">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  {{ end }}