{{ define "main" }}



    <!-- Page Header -->
    <header class="masthead" style="background: url('{{ .Params.featured_image }}')">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>{{ .Title }}</h1>
                <h2 class="subheading">{{ .Params.excerpt }}</h2>
                <span class="meta">{{ .Date.Format "January 2, 2006" }}</span>
              </div>
            </div>
          </div>
        </div>
      </header>

     <!-- Post Content -->
     <article>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  {{ .Content }}
                  
                  <hr>
                  
                  <form style="border-radius: 0.25rem; background-color: #eee; padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem; padding-top: 1rem;" name="sentMessage" id="contactForm" validate action="https://nhoque.glitch.me/form" method="post" enctype="application/x-www-form-urlencoded">
                    <h5 class="" style="margin: 0; margin-bottom: 1rem;">Cadastre-se aqui e receba as novidades mais quentes do mundo da cozinha:</h5>
                    <div class="form-row align-items-center">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Nome" id="nome" name="nome" required data-validation-required-message="Por favor digite seu nome.">
                        <p class="help-block text-danger m-0"></p>
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Sobrenome" id="sobrenome" name="sobrenome" required data-validation-required-message="Por favor digite seu sobrenome.">
                          <p class="help-block text-danger m-0"></p>
                      </div>
                      <div class="col">
                          <input type="email" class="form-control" placeholder="E-mail" id="email" name="email" required data-validation-required-message="Por favor digite seu endereço de email.">
                          <p class="help-block text-danger m-0"></p>
                      </div>
                      <div class="col">
                        <button style="height: 2.25rem; padding: 5px; width: 100%" type="submit" class="btn btn-secondary btn-sm" id="sendMessageButton">Enviar</button>
                      </div>
                    </div>
                    </form>
                  
                  <hr>
                  
                </div>
              </div>
            </div>
          </article>
{{ end }}

