{{ define "main" }}

<!-- Page Header -->
<header class="masthead" style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('{{ .Params.featured_image }}')">
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
         <div class="page-heading">
               <h1>Muito obrigado!</h1>
           <span class="subheading">Entraremos em contato com você o quanto antes!</span>
         </div>
       </div>
     </div>
   </div>
 </header>

 <!-- Main Content -->
 <div class="container">
   <div class="row">
     <div class="col-lg-8 col-md-10 mx-auto">

        <p>Enquanto isso, fique de olho no nosso site para não ficar de fora das últimas novidades do mundo food!</p>
     </div>
   </div>
 </div>

 <hr>

 {{ end }}